<main>
  <div id="join-today">
    <div id="image-container">
      <img src="/assets/images/join-today.jpg" alt="Picture of Solutions Challenge presentation" style="width:500px;"/>
    </div>
    <div id="join-panel">
      <h1>
        Join our developer community today!
      </h1>
      <p>
        Stay updated with our latest events and connect with fellow developers.
      </p>
      <app-solid-button>Join</app-solid-button>
      <app-hollow-button>Learn More</app-hollow-button>
    </div>
  </div>
</main>