.content {
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
    width: 100%;
}
.navbar {
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
  
    .start {
        display: flex;
        align-items: center;

        button {
            background: transparent;
            border: none;
            cursor: pointer;
            margin-right: 15px;
            width: 50px;

            img {
                width: 100%;
            }
        }

        a {
            font-size: larger;
            font-weight: bold;
            text-decoration: none;
        }
    }
  
    .end {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 5px;

        a {
            padding-right: 10px;
            color: #000000;
            text-decoration: none;
        }
    }
  }