
    <div>
        <div class="center">
            <div class="center">
                <p class="semiBold">Events</p>
            </div>

            <div class="center">
                <h1>Past Events</h1>
            </div>

            <div class="center">
                <p class="medNorm">What we've been up to</p>
            </div>
        </div>

        <div class="eventsLayout">
            <img src="../../assets/images/past-events.png">

            <div class="center rsvpLayout">
                <button class="button btn">RSVP</button>
            </div>
        </div>
    </div>
    