.button {
    background-color: transparent;
    color: #4285f4;
    border: 1px solid #4285f4;
    padding: 10px 20px;
    transition:all 0.2s ease-out 0s;

    &:hover {
        background-color: #4285f4;
        color: white;
    }

}

.green {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    transition:all 0.2s ease-out 0s;

    &:hover {
        background-color: white;
        color: #0F9D58;
    }
    
}