<div class="content">
    <div class="txt-container">
        <h1>Empowering Developers to Innovate and Collaborate</h1>
        <p>Welcome to the Google Developer Student Club at Missouri S&T. Our mission is to provide a platform for students to learn new skills, connect with fellow developers, and explore the world of technology.</p>
        <div class="buttons">
            <app-solid-button>Join</app-solid-button>
            <app-hollow-button>Learn More</app-hollow-button>
        </div>
    </div>
    <div class="img-container">
        <img src="../../assets/images/blueLaptop.png" alt="Corporate art of laptop">
    </div>
  </div>