<div class="content">
  <div class="txt-container">
    <div class="header">
      Connect
    </div>
    <h1>Expand Your Network and Learn Together</h1>
    <p>Join our events to meet and collaborate with like-minded developers. Gain valuable insights, share knowledge, and build connections that will propel your career forward.</p>
    <div class="buttons">
      <app-hollow-button>Join</app-hollow-button>
      <app-solid-button>Learn More</app-solid-button>
    </div>
  </div>
  <div class="img-container">
      <img src="../../assets/images/connect.png" alt="Corporate art of laptop">
  </div>
</div>